body {
  background-image: url("../img/pic_1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

table,
td {
  border: 1px, solid #000;
  border-collapse: collapse;
}

/* input[type="radio"] {
  margin-right: 10px 0;
} */
